body {
    font-family: 'Roboto', sans-serif;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

body > img {
    max-width: 100%;
}