/** All fonts are defined here **/

:root {
    --font-small: 13px;
    --font-default: 16px;
    --font-large: 24px;
    --font-xLarge: 32px;   
}

.default-font {
    font-size: var(--font-default);
}
