.name {
  color: var(--color-secondary);
}

.welcomeBox {
  justify-content: center;
  align-items: center;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.welcomeText {
  max-width: 500px;
  margin-bottom: 24px;

  h1 {
    text-align: center;
  }
}

.buttonWrapper {
  display: flex;
  margin: 16px 0;
  justify-content: center;
}

.profilePicture {
  max-width: 40%;
  min-width: 225px;
  width: auto;
  height: auto;
}
